@{
    ViewBag.Title = "Password Reset Successful";
}

<h2>Password Reset Successful</h2>

<div class="alert alert-success">
    <p>Your password has been reset successfully.</p>
</div>

<div>
    @Html.ActionLink("Click here to login", "Login", "Account")
</div>